.list-title-container a:hover {
  text-decoration: none !important;
}

.list-title {
  font-family: roboto;
  letter-spacing: 2px;
  margin: 0px 10px 20px 10px;
  color: #686868;
}

#bg-list-title-container {
  border-bottom: 1px solid #b0c7a6;
}