.card-image {
  width: 100%;
  text-align: center;
  color: #b4be60;
  font-family: arial;
}

.card {
  text-align: center;
  color: #407000;
  border-radius: 5px;
  border: none;
}

.card:hover {
  box-shadow: 0 4px 8px 0 #b4be60, 0 6px 20px 0 #b4be60;
  background: #f9fcf2;
  cursor: pointer;
}

a .card-image {
  margin-top: 14px;
}

a .card-body {
  margin-top: -12px;
  color: #407000;
}

.card a:hover {
  text-decoration: none !important;
}

.menu-container {
  min-height: 500px;
  padding: 30px;
  /* border-radius: 5px;
  box-shadow: 0 2px 4px 0 #D7D7E0; */
}

.menu-title {
  font-family: roboto;
  letter-spacing: 2px;
  margin: 0px 10px 20px 10px;
  color: #686868;
}

.menu-back {
  margin: 5px 10px;
  color: #9a9a9a;
  cursor: pointer;
}

.bg-menu-back:hover {
  background: #9a9a9a;
  border-radius: 2px;
  color: white;
}

.bg-menu-back {
  padding: 5px;
}

.menu-back h6 {
  background: yellow;
}

#menu-title-container {
  border-bottom: 1px solid #b0c7a6;
}

#menu-body {
  margin-top: 20px;
}

.bg-menu-title {
  background: #e6e6e6;
  padding: 5px;
  border-radius: 3px;
}

.floating-btn {
  background: #407000 !important;
}