.loader-container {
  text-align: center;
  margin-top: 25%;
}

.loader-item {
  margin-top: 18%;
  display: inline-block;
}

.blink-one {
  animation-delay: 500s;
  animation: blinker 10s linear infinite;
}

.blink-two {
  animation-delay: 500s;
  animation: blinker 5s linear infinite;
}

.blink-three {
  animation-delay: 500s;
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.Typist {
  display: inline-block;
}

.loader-title {
  font-size: 70px;
  color: #407000;
  letter-spacing: 2px;
}

.loader-subtitle {
  color: #2c2d2e;
  letter-spacing: 1px;
}
